<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Base Auth Web App</display-name>
	
	<filter>
	<filter-name>AuthFilter</filter-name>
	<filter-class>barban.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/auth</url-pattern>
		<servlet-name>AuthFilter</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>barban.servlet.AuthServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>


</web-app>
